@charset 'UTF-8';

@-webkit-keyframes ken-burns-in {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
}

@keyframes ken-burns-in {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
}

@-webkit-keyframes ken-burns-out {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ken-burns-out {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.elementor-slides .slick-slide-bg {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: 10s;
    -o-transition-duration: 10s;
    transition-duration: 10s
}

.elementor-slides .slick-slide-bg.elementor-ken-out {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.elementor-slides .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 400px
}

.elementor-slides .slick-slide:focus {
    outline: 0
}

.elementor-slides .slick-slide.slick-active .slick-slide-bg {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 20s;
    animation-duration: 20s
}

.elementor-slides .slick-slide.slick-active .slick-slide-bg.elementor-ken-in {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-animation-name: ken-burns-in;
    animation-name: ken-burns-in
}

.elementor-slides .slick-slide.slick-active .slick-slide-bg.elementor-ken-out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation-name: ken-burns-out;
    animation-name: ken-burns-out
}

.elementor-slides .slick-slide-inner {
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px
}

.elementor-slides .slick-slide-inner,.elementor-slides .slick-slide-inner:hover {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.elementor-slides .slick-slide-inner .elementor-background-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.elementor-slides .slick-slide-inner .elementor-slide-content {
    position: relative;
    z-index: 1;
    width: 100%
}

.elementor-slides .slick-slide-inner .elementor-slide-description {
    font-size: 17px;
    line-height: 1.4
}

.elementor--v-position-top .slick-slide-inner {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.elementor--v-position-bottom .slick-slide-inner {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.elementor--v-position-middle .slick-slide-inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.elementor--h-position-left .slick-slide-inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.elementor--h-position-right .slick-slide-inner {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.elementor--h-position-center .slick-slide-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.elementor-slides-wrapper div:not(.slick-slide)>.slick-slide-inner {
    display: none
}

@media (max-width: 767px) {
    .elementor-slides .slick-slide-inner {
        padding:30px
    }

    .elementor-slides .slick-slide-inner .elementor-slide-description {
        font-size: 13px;
        line-height: 1.4;
        margin-bottom: 15px
    }
}